body{
    background-color: #1e213a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    background-color: #f9a60b;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    text-align: right;
    border-radius: 0.5rem;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

button{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.equal,.reset{
    grid-column: span 2;
}